@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

body {
  height: 100vh;
  font-family: 'Rubik Wet Paint', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 13vw;
  letter-spacing: 0.5rem;
  background-image: url(https://unsplash.it/1000);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.4s linear;
}

h1:hover {
  color: black;
}
